.tech-stack 
{
    color: #e0e0ff;
    height: 100vh;
    line-height: 1.5;
    display:flex;
    flex-direction: column;
    padding: 5rem;
}

.tech-stack .header h1 
{
    font-weight: 300;
}
.tech-stack .header
{
    display: flex;
    align-items: center;
}
.tech-stack .header span 
{
    color: #890089;
}

.tech-stack .header .line 
{
    flex-grow: 1;
    background-color: #890089;
    height: 1px;
    margin-left: 1rem;
}
